@import "../Shared/Styles/Variables.scss";
@import "../Shared/Styles/Mixins.scss";

.nasa-search {
    width: 100%;
    max-width: 400px;

    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-shadow: 0 0 0 0 transparent;
        transition: box-shadow 0.4s;
        border-radius: 6px;

        &:focus-within {
            box-shadow: 0 0 0 1px $colour-black;
            z-index: 1;
        }

        input {
            -moz-appearance: none;
            -moz-box-sizing: border-box;
            -webkit-appearance: none;
            -webkit-box-sizing: border-box;
            background: $colour-white;
            height: 48px;
            border-radius: 6px 0 0 6px;
            border: 1px solid $border-colour;
            border-right: none;
            font-size: 16px;
            padding: 0 1rem 0;
            width: 100%;
            transition: border-color 0.2s;
            box-shadow: none;
            box-sizing: border-box;

            &:hover {
                border-color: $border-hover-colour;
            }

            &:focus {
                border-color: $colour-black;
                outline: none;
            }
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            padding: 0 0.5rem;
            background-color: $colour-black;
            border-radius: 0 6px 6px 0;
            cursor: pointer;
            border: 1px solid $colour-black;
            box-sizing: border-box;

            svg {
                fill: $colour-white;
            }
        }
    }

    &__options {
        display: flex;
        align-items: center;
        margin: 1.25rem 0 .5rem 0;
    }
}
