@import "../Styles/Variables.scss";
@import "../Styles/Mixins.scss";

.button {
    background: $colour-white;
    height: 48px;
    border-radius: 6px;
    border: 2px solid $border-colour;
    font-size: 16px;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 200px;
    transition: border-color 0.2s;
    cursor: pointer;

    &:hover {
        border-color: $border-hover-colour;
    }
}
