@import "../Styles/Variables.scss";
@import "../Styles/Mixins.scss";

.button {
    background: $colour-white;
    height: 48px;
    border-radius: 6px;
    border: 2px solid $border-colour;
    font-size: 16px;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 200px;
    transition: border-color 0.2s, color 0.2s, background-color 0.3s;
    cursor: pointer;
    letter-spacing: .5px;
    font-weight: bold;
    line-height: 1;

    &:hover {
        background-color: $colour-black;
        border-color: $colour-black;
        color: $colour-white;
    }

    &.secondary {
        height: 32px;
        font-size: 14px;
        padding: .5rem
    }
}
